.tombolaSpin {
  animation: rotateCounterClockwise 1s;
  animation-timing-function: ease-in;
  animation-iteration-count: infinite;
}

.tombolaStop {
  animation: rotateCounterClockwise 1s;
  animation-timing-function: ease-out;
  animation-iteration-count: 1;
}

@keyframes rotateCounterClockwise {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
